<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/login.css">
  </head>
  <body>
    <%- include('../partials/header') %>
    
      <main>
        <div class="login">
          <h1>
            INGRESAR A MI CUENTA
          </h1>

          <% if (typeof errors != 'undefined') { %>
            <ul>
              <% errors.forEach(error => { %>
              <li><%= error.msg %></li>
              <% }) %>
            </ul>
            <% } %>
          <form action="/login" method="post">
            <div class="email">
              <h4>Email:</h4>
              <div class="emailInput">
                <input
                type="email"
                id="email"
                name="email"
                placeholder="johndoe@correo.com"
                value="<%= typeof values != 'undefined' ? values.email : '' %>"
              />
              <hr>
               
              </div>
              </div>
  
            <br>
            <div class="email">
              
                <h4>Contraseña</h4>
             <div class="emailInput">
                <input type="password" id="password" name="password" placeholder="● ● ● ● ● ● ● ● ● ●" />
              <hr>
              </div>
              </div>
              
              <div class="emailInput">
                <div class="recordar">
                  
               
                </div>
                
                <hr>
              </div>
          
            <button type="submit">Enviar</button>
              <a href="register">
                <h5 class="cuotas">No tengo una cuenta, quiero registrarme</h5>
            </a>
         
            </form>
              </div>
      
      </main>
       
  
    <%- include('../partials/footer') %>
  </body>
</html>

